.header {
    display: grid;
    border: 1px solid red;
    grid-area: hdr;
    background-color: #406086;
    color:#BACAD9;
    font-size: larger;
    grid-template-columns: 1fr 5fr 1fr;
  }
.header img{
    width: 50px;
}
.loginBlock {
    color: #BACAD9;
}