.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
h5{
    margin-left: 5px;
}
.item {
    border: 1px solid red;
    background-color: #96AFCD;
}
.user {
    border: 1px solid rgb(0, 255, 255);
    display: grid;
    height: 70%;
    background-color: #7F95AD;
}
.messages {
    border: 1px solid #233647;
    background-color: #7F95AD;
}
.text {
    border-radius: 10px;
    color: #233647;
}
.button {
    border-radius: 7px;
    height: 30px;
    width: 150px;
    background-color: #406086;
}