.usersPage {
    margin: 25px;
    border: 1px solid red;
}
.user_wrapper {
    border: 1px solid orangered;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 15px;
}
.user {
    border: 1px solid green;
    border-radius: 15px;
    display: grid;
    justify-content: center;
}
.userInfo {
    /*border: 1px solid blue;*/
    display: grid;
    margin-right: 20px;
}
.userpic img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #7F95AD;
    margin-top: 10px;
    box-shadow: 3px 3px 5px 5px #7f95ad77;
}
.selectedPage {
    font-weight: bold;
}
.name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #233647;
    margin-top: 10px;
    display: grid;
    justify-content: end;
}
.status {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #233647;
    font-style: italic;
    margin-top: 5px;
    display: grid;
    justify-content: end;
}
.country {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #7F95AD;
    margin-top: 5px;
    display: grid;
    justify-content: end;
}
.city {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #7F95AD;
    margin-top: 3px;
    display: grid;
    justify-content: end;
}
.button {
    width: 80px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #7F95AD;
    background-color: #96AFCD;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 2px 2px 3px 3px #7f95ad77;
}
.button_unfollow {
    width: 80px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #617283;
    background-color: #7F95AD;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 2px 2px 3px 3px #7f95adbd;
}
.pages {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #233647;
    cursor: pointer;
}